./node_modules
./package-lock.json
./.env
./.DS_Store
./.vscode
./dist
./build
./coverage
.env
.DS_Store
.vscode
dist
build
coverage
node_modules
package-lock.json
yarn.lock
yarn-error.log
npm-debug.log
*.log
*.pid
*.seed
*.pid.lock
lib-cov